/* nav */
.nav {
  height: auto;
  background-color: #01579b;
  width: 100%;
}

div.logo-col {
  height: 100px;
}

#logo {
  height: 100px;
  width: auto;
  padding: 0;
  margin-top: 10px;
}

h5.search-title {
  font-weight: 600;
  font-size: fit-content;
  margin-top: 1.5rem;
  color: whitesmoke;
  text-align: right;
}

/* search Bar */
.searchbar {
  padding-top: 2rem;
}

#search {
  height: 3rem;
  background-color: whitesmoke;
}

/* nav buttons */
button.searchBtn,
a.btn {
  height: 3.5rem;
  width: fit-content;
}

a.btn {
  margin-top: 1rem;
  line-height: normal;
  padding-top: 5px;
  font-weight: bold;
}

i.material-icons {
  padding-top: 9px;
  font-size: 30px;
}

/* Font and Spacing */
body {
  font-family: "Quicksand", sans-serif;
  background-color: lightsteelblue;
}

ul.collection {
  font-weight: 600;
  text-align: center;
}

a.history {
  font-size: 18px;
  text-align: center;
}

/* Current Weather */
div.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 95%;
}

div.current-weather {
  margin-top: 1.5rem;
  border-top: 0rem;
}

.current-card {
  display: flex;
  flex-direction: row;
}

div.location-title {
  order: 1;
}

div.specs {
  order: 2;
}

i.fas {
  margin: 1.5rem;
  margin-top: 0rem;
  font-size: 30px;
  color: #01579b;
  display: flex;
  flex-direction: column;
}

div.location-title,
h2.city-title,
h4.forecast-title {
  font-weight: 700;
  margin-top: 0rem;
  padding-bottom: 1rem;
}

h2.city-title {
  border-bottom: 0px;
  padding-bottom: 0rem;
  padding-left: 7px;
  margin-bottom: 0px;
}

h5.date {
  padding-top: 0.5rem;
}

img.title-icon {
  height: 4rem;
  max-width: 5rem;
  padding-top: 0rem;
  margin-top: 0rem;
  text-align: center;
}

td.city-temp,
td.feels-like,
td.city-hum,
td.city-wind,
td.city-uviTitle {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

/* 5 Day Forecast */
.forecast, .current-weather {
  margin-top: 0rem;
  padding-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 0rem;
}

.forecast-title {
  border-bottom: 2px solid #a0a0a0;
  border-top: 0rem;
  border-color: lightslategray;
}
#forecast {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.forecast-content {
  background-color: #01579b;
  margin-right: 1.75rem;
  margin-bottom: 0.75rem;
  color: whitesmoke;
  text-align: center;
  width: 12rem;
}

h4.header {
  font-weight: 700;
  padding-top: 0rem;
  margin-top: 0rem;
}

img.card-icon {
  height: 4rem;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
}

h6.card-temp,
h6.card-hum {
  font-weight: 600;
}

/* Responsiveness for smaller screens */
@media (max-width: 960px) {
  div.current-card, div.location-title, #forecast {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  table.location-specs {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  h5.search-title,
  h2.city-title,
  h5.search-card,
  h5.recent-searches,
  h4.forecast-title,
  div.input-field,
  div.dropdown,
  div.logo-col {
    text-align: center;
  }
  .forecast-content {
    margin-bottom: 0.75rem;
    width: auto;
  }
}