/* Font and Spacing */
body {
  font-family: "Quicksand", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 95%;
}

/* nav */
nav {
  font-weight: 600;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 0rem;
  height: 75px;
}

/* Sidebar */
div.sidebar,
div.main-content {
  margin-top: 1.5rem;
  border-top: 0rem;
}

.search-bar {
  margin-bottom: 0rem;
  padding-bottom: 0rem;
}

div.collection {
  font-weight: 600;
}

h6 {
  font-weight: 800;
}
h6.recent-searches {
  padding-left: 1.5rem;
}

/* Main Content */
div.location-title,
h3.city-title,
h4.forecast-title {
  border-bottom: 2px solid #a0a0a0;
  border-top: 0rem;
  font-weight: 800;
  margin-top: 0rem;
  padding-bottom: 1rem;
}

div.location-title {
  display: flex;
  flex-direction: row;
}

h3.city-title {
  border-bottom: 0px;
  padding-bottom: 0rem;
  padding-left: 7px;
}

h5.date {
  padding-top: 0.5rem;
}

img.title-icon {
  height: 4rem;
  max-width: 6rem;
  padding-top: 0rem;
  margin-top: 0rem;
}

/* 5 Day Forecast */
h4.forecast-title {
}

#forecast {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.forecast-content {
  background-color: #0277bd;
  margin-right: 1.75rem;
  margin-bottom: 0.75rem;
  color: whitesmoke;
  width: auto;
}

h7.card-title {
  font-weight: 800;
  text-align: center;
}

p {
  font-weight: 600;
}

/* Responsiveness for smaller screens */
@media (max-width: 800px) {
  nav {
    min-height: 90px;
    padding-top: 1rem;
  }
  div.location-title {
    flex-wrap: wrap;
    justify-content: center;
  }
  h3.city-title {
    text-align: center;
  }
  #forecast {
    display: flex;
    flex-direction: column;
  }
  .forecast-content {
    margin-bottom: 0.75rem;
    width: auto;
    text-align: center;
  }
}
